@import "./variables.css";

.Header {
  padding: 0 2rem;
  background-color: var(--grey-color);
  color: var(--white-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-cart-icon a {
  color: var(--white-text);
}

.Header-cart-icon a:hover {
  color: var(--yellow-stars);
  transition: 1s ease;
}

.Header-cart-icon a[data-count]:after {
  position: absolute;
  right: 5%;
  top: 2%;
  content: attr(data-count);
  font-size: 80%;
  padding: 0.2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background: var(--blue-button);
  text-align: center;
  min-width: 1em;
}
@media (min-width: 700px) {
  .Header {
    padding: 0 3.5rem;
  }
}

@media (min-width: 1000px) {
  .Header {
    padding: 0 5rem;
  }
}
